<!-- Background photo -->
<div class="w3-display-container bgimg2">
  <div class="w3-display-bottommiddle w3-text-white w3-center">
    <h1 class="w3-xxlarge"><%= t('section.rsvp.section_title')%></h1><br>
  </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-48 w3-center w3-wide" id="rsvp">
  <p class="w3-xxlarge w3-serif w3-margin-0"><%= t('section.rsvp.respond_by')%></p>
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-round custom-bg-milch-blau w3-opacity w3-hover-opacity-off" style="padding:8px 60px">
      <%= t('section.rsvp.button')%>
    </button>
  </p>
</div>

<!-- RSVP modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-8 w3-animate-zoom w3-padding-jumbo" style="max-width:600px">
    <div class="w3-container w3-white w3-center">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn w3-hover-text-grey w3-margin">x</span>
      <h1 class="w3-large "><%= t('section.rsvp.main_question')%></h1>
      <%= render 'guests/rsvp_form' %>
    </div>
  </div>
</div>
