<form>
  <input class="w3-input w3-border" type="text" placeholder="<%= t('section.rsvp.person_name_placeholder')%>" name="person_name_1">
  <input class="w3-input w3-border" type="text" placeholder="<%= t('section.rsvp.person_name_placeholder')%>" name="person_name_2">
  <select namer="kids" class="w3-input w3-border" >
    <option value="<%= t('section.rsvp.no_kids')%>"><%= t('section.rsvp.no_kids')%></option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
</form>
<p><i><%= t('section.rsvp.sincerely')%></i></p>
<div class="w3-row">
  <div class="w3-half">
    <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-btn-block w3-green"><%= t('section.rsvp.going')%></button>
  </div>
  <div class="w3-half">
    <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-btn-block w3-red"><%= t('section.rsvp.not_going')%></button>
  </div>
</div>
