<!-- Wedding information -->
<div class="w3-container w3-padding-64 custom-bg-milch-blau w3-center" id="wedding">
  <div class="w3-content">
    <h1 class="w3-text-grey custom-text-milch-white"><b><%= t('The wedding')%></b></h1>
    <%= image_tag('wedding_location.jpg', class: 'w3-round-large w3-grayscale-min', style: 'width:100%;margin:64px 0') %>
    <div class="w3-row">
      <div class="w3-half">
        <h2><%= t('section.when.title')%></h2>
        <p><%= t('section.when.wedding')%></p>
        <p><%= t('section.when.coffeecake')%></p>
        <p><%= t('section.when.dinner')%></p>
      </div>
      <div class="w3-half">
        <h2><%= t('section.where.title')%></h2>
        <p>Kunsthof Barna von Sartory</p>
        <p>Dorfstraße 24</p>
        <p>17326 Grimme bei Brüssow</p>
      </div>
    </div>
  </div>
</div>
