<% provide(:title, "Home") %>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo"><%= couple_names %></h1>
    <h2><%= t 'Are getting married'%></h2>
    <h2><b><%= wedding_date %></b></h2>
    <%= render '/components/circular_countdown', time_units: @time_to_wedding %>
  </div>
</header>

<%= render 'couple' %>

<%= render 'wedding' %>

<%= render 'lodging' %>

<%= render 'rsvp' %>
